///////////////////////////////
/// VARIABLES
///////////////////////////////
$clr-primary-1: hsl(176, 50%, 47%);
$clr-primary-1: hsl(176, 72%, 28%);

$clr-neutral-1: hsl(0, 0%, 0%);
$clr-neutral-2: hsl(0, 0%, 48%);
$clr-neutral-3: hsl(0, 0%, 100%);

///////////////////////////////
/// MIXINS
///////////////////////////////
@mixin flex($x, $y) {
	display: flex;
	justify-content: $x;
	align-items: $y;
}

@mixin respond($breakpoint) {
	@if $breakpoint ==phone-s {
		@media only screen and (max-width: 25em) {
			// 400px
			@content;
		}
	}
	@if $breakpoint ==phone {
		@media only screen and (max-width: 37.5em) {
			// 600px
			@content;
		}
	}

	@if $breakpoint ==tab-port {
		@media only screen and (max-width: 56.25em) {
			// 900px
			@content;
		}
	}

	@if $breakpoint ==tab-land {
		@media only screen and (max-width: 75em) {
			// 1200px
			@content;
		}
	}
}

///////////////////////////////
/// UTILITY CLASSES
///////////////////////////////
.hidden {
	display: none;
}

///////////////////////////////
/// GLOBAL
///////////////////////////////
* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	font-family: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-size: 1.6rem;
	font-family: "Commissioner", sans-serif;
}

///////////////////////////////
/// HEADER
///////////////////////////////
header {
	height: 65vh;
	background: url(../images/image-hero-desktop.jpg) no-repeat no-repeat;
	background-size: cover;
}

///////////////////////////////
/// NAV
///////////////////////////////
nav {
	padding: 4.8rem 10vw;
	@include flex(space-between, center);

	.wrapper {
		@include flex(center, center);
		gap: 2.4rem;
	}

	a {
		color: white;
		text-decoration: none;
	}

	@include respond(phone) {
	}
}

///////////////////////////////
/// MOBILE MENU
///////////////////////////////
.mobile-menu {
	@include respond(phone) {
		display: unset;
	}
}

nav {
	@include respond(phone) {
		flex-wrap: wrap;
		gap: 2.4rem;

		img {
			order: 1;
		}

		.wrapper {
			order: 3;
			flex-basis: 100%;
			flex-direction: column;
			opacity: 0;
			user-select: none;

			background-color: $clr-neutral-3;
			padding: 2.4rem 0;
			border-radius: 0.8rem;

			a {
				&:link,
				&:visited {
					color: $clr-neutral-1;
					font-weight: 700;
					display: block;
					margin: 0 auto;
					width: 100%;
					text-align: left;
					padding-bottom: 2.4rem;
					padding-left: 2.4rem;
				}

				&:not(:last-child) {
					border-bottom: 1px solid rgb(226, 226, 226);
				}

				&:last-child {
					padding-bottom: 0;
				}
			}
		}

		.mobile-menu {
			order: 2;
		}

		.icon-menu {
			display: block;
		}
	}
}

.visible {
	opacity: 1 !important;
	user-select: all !important;
}
