///////////////////////////////
/// VARIABLES
///////////////////////////////
$clr-primary-1: hsl(176, 50%, 47%);
$clr-primary-2: hsl(176, 72%, 28%);

$clr-neutral-1: hsl(0, 0%, 0%);
$clr-neutral-2: hsl(0, 0%, 48%);
$clr-neutral-3: hsl(0, 0%, 100%);
$clr-neutral-4: hsl(0, 0%, 89%);

///////////////////////////////
/// MIXINS
///////////////////////////////
@mixin flex($x, $y) {
	display: flex;
	justify-content: $x;
	align-items: $y;
}

@mixin respond($breakpoint) {
	@if $breakpoint ==phone-s {
		@media only screen and (max-width: 25em) {
			// 400px
			@content;
		}
	}
	@if $breakpoint ==phone {
		@media only screen and (max-width: 37.5em) {
			// 600px
			@content;
		}
	}

	@if $breakpoint ==tab-port {
		@media only screen and (max-width: 56.25em) {
			// 900px
			@content;
		}
	}

	@if $breakpoint ==tab-land {
		@media only screen and (max-width: 75em) {
			// 1200px
			@content;
		}
	}
}

///////////////////////////////
/// UTILITY CLASSES
///////////////////////////////
.hidden {
	display: none;
}

.visible {
	opacity: 1 !important;
	user-select: all !important;
}

.text-center {
	text-align: center;
}

.mb-s {
	margin-bottom: 1.6rem;
}

.mb-m {
	margin-bottom: 2.4rem;
}

.mb-l {
	margin-bottom: 3.2rem;
}

.mb-xl {
	margin-bottom: 4.8rem;
}

///////////////////////////////
/// GLOBAL
///////////////////////////////
* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	font-family: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: "Commissioner", sans-serif;
	background-color: hsl(210, 17%, 98%);
}

///////////////////////////////
/// TYPOGRAPHY
///////////////////////////////
.heading-1 {
	font-size: 3rem;
}

.heading-2 {
	font-size: 2.4rem;
}

.heading-3 {
	font-size: 2rem;
}

.heading-4 {
	font-size: 1.8rem;
}

.paragraph {
	line-height: 1.7;
	color: $clr-neutral-2;
}

.btn {
	display: inline-block;
	padding: 1.8rem 3.6rem;
	border-radius: 10rem;
	border: none;
	background-color: $clr-primary-1;
	font-weight: 700;
	color: $clr-neutral-3;
	cursor: pointer;
	transition: all 0.2s ease;

	&:hover {
		background-color: $clr-primary-2;
	}
}

.btn--out-of-stock {
	background-color: $clr-neutral-2;
	color: $clr-neutral-3;
	cursor: auto;

	&:hover {
		background-color: $clr-neutral-2;
	}
}

.bookmark {
	background-color: lighten($clr-neutral-4, 5);
	color: $clr-neutral-2;
	padding: 0;
	transition: all 0.2s ease;

	@include flex(center, center);
	gap: 2.4rem;

	&-text {
		padding-right: 2.4rem;
		font-weight: 700;
	}

	&:hover {
		opacity: 0.75;
		background-color: lighten($clr-neutral-4, 2);
	}

	@include respond(phone) {
		span {
			display: none;
		}
	}
}

.bookmark--active {
	color: $clr-primary-2;

	svg {
		path {
			fill: $clr-neutral-3;
		}

		circle {
			fill: $clr-primary-2;
		}
	}
}

///////////////////////////////
/// HEADER
///////////////////////////////
header {
	height: 50vh;
	background: url(../images/image-hero-desktop.jpg) no-repeat no-repeat center;
	background-size: cover;

	@include respond(phone) {
		height: 50vh;
		background: url(../images/image-hero-mobile.jpg) no-repeat no-repeat center;
	}
}

///////////////////////////////
/// NAV
///////////////////////////////
nav {
	padding: 4.8rem 10vw;
	@include flex(space-between, center);

	.wrapper {
		@include flex(center, center);
		gap: 2.4rem;
		z-index: 1000;
	}

	a {
		color: white;
		text-decoration: none;
	}
}

///////////////////////////////
/// MOBILE MENU
///////////////////////////////
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.288);
	z-index: 100;
}

.mobile-menu {
	display: none;
	z-index: 500;

	@include respond(phone) {
		display: unset;
	}
}

nav {
	@include respond(phone) {
		flex-wrap: wrap;
		gap: 2.4rem;

		img {
			order: 1;
		}

		.wrapper {
			order: 3;
			flex-basis: 100%;
			flex-direction: column;
			opacity: 0;
			user-select: none;
			gap: 0;
			background-color: $clr-neutral-3;
			border-radius: 0.8rem;

			a {
				&:link,
				&:visited {
					color: $clr-neutral-1;
					font-weight: 700;
					display: block;
					margin: 0 auto;
					width: 100%;
					text-align: left;

					padding: 2.4rem 0 2.4rem 2.4rem;
				}

				&:not(:last-child) {
					border-bottom: 1px solid $clr-neutral-4;
				}
			}
		}

		.mobile-menu {
			order: 2;
		}
	}
}

///////////////////////////////
/// SECTIONS
///////////////////////////////

// container for all sections
main {
	transform: translateY(-10rem);
}

.section {
	padding: 4.8rem 3.2rem;
	border-radius: 8px;
	max-width: 70rem;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	background-color: $clr-neutral-3;

	&:not(:first-of-type) {
		margin-top: 3.2rem;
	}

	@include respond(tab-port) {
		width: 90%;
	}
}

.section-title {
	position: relative;

	&-logo {
		position: absolute;
		top: -3.2rem;
		left: 50%;
		transform: translateX(-50%);
	}

	.wrapper {
		width: 90%;
		margin: 2.4rem auto 0 auto;
		@include flex(space-between, center);
		gap: 3.2rem;

		@include respond(phone) {
			width: 100%;
			gap: 0.8rem;
			justify-content: center;
			margin: 2.4rem 0 0 0;

			.btn {
				flex-basis: 100%;
			}

			.bookmark {
				flex: 1;
			}
		}
	}
}

.section-money {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	@include respond(phone) {
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 2.4rem;
	}

	.wrapper {
		@include flex(start, center);
		flex-direction: column;
		gap: 0.8rem;

		p:first-of-type {
			font-weight: 700;
			font-size: 3.2rem;
		}

		p:last-of-type {
			font-size: 1.4rem;
			color: $clr-neutral-2;
		}

		&:not(:nth-child(3)) {
			border-right: 1px solid $clr-neutral-4;
		}

		@include respond(phone) {
			width: fit-content;
			padding-bottom: 3.2rem;

			&:not(:nth-child(3)) {
				border-bottom: 1px solid $clr-neutral-4;
				border-right: none;
			}
		}
	}

	.progress {
		grid-column: 1 / -1;

		width: 90%;
		margin: 3.2rem auto 0 auto;
		height: 1.2rem;
		border-radius: 10rem;
		background-color: $clr-neutral-4;

		.bar {
			height: 100%;
			width: 85%;
			border-radius: 10rem;
			background-color: $clr-primary-1;
		}

		@include respond(phone) {
			grid-column: auto;
			grid-row: auto;
			width: 100%;
			margin-top: 0;
		}
	}
}

// .section-about {
// }

.product {
	padding: 3.2rem 2.4rem;
	border: 1px solid $clr-neutral-4;
	border-radius: 8px;
	margin-bottom: 3.2rem;

	&:last-of-type {
		opacity: 0.5;
		margin-bottom: 0;
	}

	.wrapper {
		@include flex(space-between, center);

		@include respond(phone) {
			flex-direction: column;
			align-items: start;
		}

		&:first-of-type {
			@include respond(phone) {
				gap: 1.2rem;
			}
		}

		&:last-of-type {
			@include respond(phone) {
				gap: 2.4rem;
			}
		}
	}

	.pledge {
		color: $clr-primary-1;
		font-weight: 500;
	}

	.amount {
		font-weight: 700;
		font-size: 3.2rem;

		@include flex(center, center);
		gap: 0.6rem;

		&::after {
			content: "left";
			font-weight: 400;
			color: $clr-neutral-2;
			font-size: 1.6rem;
		}
	}
}

///////////////////////////////
/// DIALOG (MODALS)
///////////////////////////////
.modal-thanks {
	margin: 2.4rem; /* TEMPORARY */
	text-align: center;
	max-width: 48ch;
	border: 1px solid red;
}

.modal-thanks *:not(:first-child) {
	margin-top: 2.4rem;
}

.modal {
	padding: 3.2rem;
	border-radius: 8px;
}

.dialog--back-project {
	position: relative;
	margin-top: 4.8rem;
	border: none;
	height: 85dvh;

	&::backdrop {
		background-color: hsla(0, 0%, 0%, 0.473);
	}

	.icon-close-dialog {
		position: absolute;
		right: 3.2rem;
		top: 3.2rem;
		transform: scale(1.6);

		g {
			fill: $clr-neutral-1;
			opacity: 0.5;
			transition: all 0.2s ease;

			&:hover {
				opacity: 1;
				cursor: pointer;
			}
		}
	}

	.product {
		display: grid;
		grid-template-columns: 4.8rem 1fr;
		transition: all 0.2s ease;

		& * {
			transition: all 0.2s ease;
		}

		&:hover {
			cursor: pointer;

			h3 {
				color: $clr-primary-1;
			}

			.dot {
				border: 1px solid $clr-primary-1;
			}
		}

		.wrapper {
			display: grid;
			gap: 1.2rem;
			grid-template-columns: auto max-content 1fr;

			@include respond(phone) {
				row-gap: 1.2;
				column-gap: 0;
				grid-template-columns: 4.8rem 1fr;
			}
		}
	}

	.product--active {
		border: 1px solid $clr-primary-1;
	}

	.product--unavailable {
		user-select: none;

		&:hover {
			cursor: auto;

			h3 {
				color: unset;
			}

			.dot {
				border: 1px solid $clr-neutral-3;
			}
		}
	}

	.dot {
		height: 2.4rem;
		width: 2.4rem;
		border-radius: 10rem;
		border: 1px solid $clr-neutral-4;

		@include flex(center, center);

		&-fill {
			background-color: $clr-primary-1;
		}
	}

	.heading-4 {
		@include respond(phone) {
			grid-column: 2/3;
		}
	}

	.pledge {
		margin-left: 1.6rem;

		@include respond(phone) {
			margin-left: 0;
			grid-column: 2/3;
		}
	}

	.amount {
		font-size: 2rem;
		justify-self: end;

		@include respond(phone) {
			grid-row: 4;
		}
	}

	.paragraph {
		grid-column: 2 / 3;

		@include respond(phone) {
			grid-column: 1 / -1;
		}
	}
}
